.github
.idea
cpp_legacy/.idea
cpp_legacy/cmake-build-debug

data
data/*
scripts/__pycache__/

cmd/test

# This is not to allow non-explicit updates to Linux kernel image and Rootfs image
configs/firecracker/app
configs/firecracker/rootfs.ext4
configs/firecracker/vmlinux*
