[Unit]
Description=Control plane service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/cluster_manager/cmd/master_node/main --config /cluster_manager/cmd/master_node/config_cluster.yaml
KillSignal=SIGKILL
[Install]
WantedBy=multi-user.target