[Unit]
Description=Control plane service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=cd ~/cluster_manager; go run cmd/master_node/main.go --configPath cmd/master_node/config_cluster.yaml
[Install]
WantedBy=multi-user.target