[Unit]
Description=Data plane service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/cluster_manager/cmd/data_plane/main --configPath /cluster_manager/cmd/data_plane/config_cluster.yaml
[Install]
WantedBy=multi-user.target