[Unit]
Description=Worker node service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/cluster_manager/cmd/worker_node/main --configPath /cluster_manager/cmd/worker_node/config_cluster.yaml
[Install]
WantedBy=multi-user.target